.App {
  min-width: 100%;
  min-height: 15000px;
}

.Frame {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(./assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.Scene {
  position: absolute;
}

.Human-1 {
  bottom: 40px;
  left: 10px;
}

.Human-2 {
  bottom: 80px;
  left: 120px;
}

.Nlo-1 {
  top: 0;
  right: 220px;
}

.Dialog-2 {
  bottom: 195px;
  left: 226px;
}

.Nlo-2 {
  top: 35px;
  right: 226px;
}

.Human-3 {
  bottom: 150px;
  left: 300px;
}

.Dialog-3 {
  bottom: 227px;
  left: 308px;
}

.Nlo-3 {
  top: 90px;
  right: 310px;
}

.Nlo-4 {
  top: 0;
  right: 0;
}

.Human-4 {
  bottom: 125px;
  left: 274px;
}

.Dialog-4 {
  bottom: 212px;
  left: 230px;
}